    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    .header {
        min-height: 100vh;
        width: 100%;
        background-image: url("../Images/indexheader.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    nav {
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
    }
    
    nav img {
        width: 150px;
    }
    
    .nav-links {
        flex: 1;
        text-align: right;
    }
    
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    
    .nav-links ul li a {
        color: #18233E;
        text-decoration: none;
        font-size: 13px;
    }
    
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #18233E;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    .nav-links ul li:hover::after {
        width: 100%;
    }
    
    .text-box {
        width: 90%;
        color: #18233E;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .text-box h1 {
        font-size: 62px;
        color: #2D3BA0;
        ;
    }
    
    .text-box p {
        margin: 10px 0 40px;
        font-size: 14px;
        color: white;
    }
    
    .hero-btn {
        display: inline-block;
        text-decoration: none;
        color: #2D3BA0;
        border: #D3B880;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    
    .hero-btn:hover {
        border: 1px solid #89AFED;
        background: #89AFED;
        transition: 1s;
    }
    
    nav .fa {
        display: none;
    }
    
    @media(max-width: 700px) {
        .text-box h1 {
            font-size: 20px;
        }
        .nav-links ul li {
            display: block;
        }
        .nav-links {
            position: absolute;
            background: #89AFED;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200;
            text-align: left;
            z-index: 2;
            transition: 1s;
        }
        nav .fa {
            display: block;
            color: #D3B880;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }
    }
    /*----- Discover the Possibilities -----*/
    
    .discover {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    
    h1 {
        color: #18233E;
        font-size: 36px;
        font-weight: 600;
    }
    
    p {
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
    
    .row {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    
    .discover-col {
        flex-basis: 31%;
        background: #89AFED;
        border-radius: 70px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
    }
    
    h3 {
        text-align: center;
        font-weight: 600;
        margin: 10px;
    }
    
    .discover-col:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
    
    @media(max-width: 700) {
        .row {
            flex-direction: column;
        }
    }
    /*----- Next Level Acess ------*/
    
    .acess {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
    }
    
    .acess-col {
        flex-basis: 32%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }
    
    .acess-col img {
        width: 100%;
        display: block;
    }
    
    .layer {
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    
    .layer:hover {
        background: #89AFED;
    }
    
    .layer h3 {
        width: 100%;
        font-weight: 500;
        color: black;
        font-size: 26px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.5s;
    }
    
    .layer:hover h3 {
        bottom: 60%;
        opacity: 1;
    }
    
    .layer p {
        width: 100%;
        font-weight: 500;
        color: #18233E;
        font-size: 14px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.5s;
    }
    
    .layer:hover p {
        bottom: 20%;
        opacity: 1;
    }
    /*------ Next Level Expirience ------*/
    
    .expirience {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    
    .expirience-col {
        flex-basis: 31%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
    }
    
    .expirience-col img {
        width: 100%;
        border-radius: 10px;
    }
    
    .expirience-col p {
        padding: 0;
        color: black;
    }
    
    .expirience h3 {
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;
        color: black;
    }
    /*--- Ready to Learn More ---*/
    
    .cta {
        margin: 100px auto;
        width: 80%;
        background-image: url("../Images/readytolearn.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        text-align: center;
        padding: 100px 0;
    }
    
    .cta h1 {
        color: white;
        margin-bottom: 40px;
        padding: 0;
    }
    
    .hero-btn1 {
        display: inline-block;
        text-decoration: none;
        color: #2D3BA0;
        border: #D3B880;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        color: white;
    }
    
    .hero-btn1:hover {
        border: 1px solid #89AFED;
        background: #89AFED;
        transition: 1s;
    }
    
    @media(max-width: 700px) {
        .cta h1 {
            font-size: 24px;
        }
    }
    /*--- Footer ----*/
    
    .footer {
        width: 100%;
        text-align: center;
        padding: 30px 0;
        background-color: #89AFED;
    }
    
    .footer h4 p {
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
    }
    
    .icons .fa {
        color: #2D3BA0;
        margin: 0 13px;
        cursor: pointer;
        padding: 18px;
    }
    /*-------- fly page--------*/
    
    .header0 {
        height: 50vh;
        width: 100%;
        background-image: url("../Images/flyheading.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        color: red;
    }
    
    .header0 h1 {
        margin-top: 35px;
    }
    
    .fly-us {
        width: 80%;
        margin: auto;
        padding-top: 80%;
        padding-bottom: 50%;
    }
    
    .fly-col {
        flex-basis: 48%;
        padding: 30px 2px;
    }
    
    .fly-col img {
        width: 70%;
    }
    
    .fly-col h1 {
        padding-top: 0;
        text-align: center;
    }
    
    .fly-col p {
        padding: 15px 0 25px;
        color: black;
    }
    
    .blue-btn {
        border: 1px solid #D3B880;
        background: transparent;
        color: #2D3BA0;
        text-align: center;
    }
    
    .blue-btn:hover {
        color: #fff;
    }
    /*---- fleet page ----*/
    
    .header1 {
        height: 50vh;
        width: 100%;
        background-image: url("../Images/fleetheader.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        color: red;
    }
    
    .header1 h1 {
        margin-top: 35px;
        margin-left: 0px;
        color: white;
    }
    
    .fleet {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    
    .fleet-col {
        flex-basis: 31%;
        background: #18233E;
        border-radius: 70px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
    }
    
    .fly-col {
        flex-basis: 48%;
        padding: 30px 2px;
    }
    
    .fleet-col img {
        width: 70%;
    }
    
    .fleet-col h3 {
        padding-top: 0;
        text-align: center;
        color: white;
    }
    
    .fleet-col p {
        padding: 15px 0 25px;
        color: white;
    }
    
    .blue1-btn {
        border: 1px solid #D3B880;
        background: transparent;
        color: white;
        text-align: center;
    }
    /*--- Life style page ----*/
    
    .header2 {
        height: 50vh;
        width: 100%;
        background-image: url("../Images/lifestyleheader.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        color: red;
    }
    
    .header2 h1 {
        margin-top: 35px;
        margin-left: 0px;
        color: white;
    }
    
    .header2 p {
        margin-top: 35px;
        margin-left: 0px;
        color: white;
    }
    
    .bodyContainer {
        background-color: #2D3BA0;
        margin: 1vw;
        padding: 1vw;
    }
    
    table,
    th,
    td,
    h3,
    p {
        border: 0px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    /*--- contact page ----*/
    
    .header3 {
        height: 50vh;
        width: 100%;
        background-image: url("../Images/contactheader.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        color: red;
    }
    
    .header3 h1 {
        margin-top: 35px;
        margin-left: 0px;
        color: #18233E;
    }